# Операционные системы
.DS_Store
Thumbs.db

# Локальная среда разработки
.vscode/
.idea/
*.swp
*.swo

# Виртуальное окружение Python
.venv/
venv/
env/

# Файлы, которые создаёт Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Файлы логов
*.log

# Файл переменных окружения (секретные данные)
.env

# Статические файлы, сгенерированные Django
/static/
media/

# Файлы миграций, которые могут быть созданы заново
*/migrations/*.py
!*/migrations/__init__.py
